:root {
  --background: white;
  --bg-primary: rgb(83, 83, 224) --fg-muted: rgb(25, 25, 25);
  --border: rgb(240, 240, 240);
  --shadow: rgba(0, 0, 0, 0.25);
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  overflow: hidden;
  color: black;
}

svg.logo {
  color: var(--bg-primary);
}

[data-theme="dark"] {
  --background: black;
  --border: rgb(20, 20, 20);
  --bg-primary: rgb(74, 74, 243);
  --fg-muted: rgb(94, 90, 90);
  --shadow: rgba(255, 255, 255, 0.25);
  color: white;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: var(--background);
}

main {
  width: 70vw;
  display: flex;
  transition-duration: 500ms;
}


div.view {
  width: 800px;
  min-height: 100%;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  transition-duration: 250ms;
}

@media only screen and (max-width: 1440px) {
  main {
    width: 100vw;
  }

  div.view {
    width: 100%;
    border-right: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img.profile {
  border-radius: 100%;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 500ms;
}

button.primary {
  background-color: var(--bg-primary);
}

button:hover {
  filter: brightness(90%);
  border-radius: 1rem;
}